### We fetch data from text file based on the email dump which puts it into a table of Count with Text and count being the integer. The goal is to finalize the top sender of the email in the dump and store it in a clean formate in sqlite3 to be retireved later.

In [2]:
import sqlite3

conn = sqlite3.connect('emaildb.sqlite')
curr = conn.cursor()

In [3]:
curr.execute('''DROP TABLE IF EXISTS Counts''')
curr.execute(''' CREATE TABLE Counts (email TEXT, count INTEGER)''')

fname= input('Enter Your File Here: ')
if(len(fname)<1): fname='mbox-short.txt'
name = open(fname)
for line in name: 
    if not line.startswith('From: '): continue
    pieces = line.split()
    email = pieces[1]
    curr.execute('SELECT count from Counts where email= ?', (email, ))
    row = curr.fetchone()
    if row is None: 
        curr.execute(''' INSERT INTO Counts (email,count) VALUES (?, 1)''', (email, ))
    else: 
        curr.execute('UPDATE Counts SET count = count+1 WHERE email=?', (email,))
    conn.commit()
        
sqlstr = 'SELECT email, count FROM Counts ORDER BY email DESC LIMIT 10'

for row in curr.execute(sqlstr):
    print(str(row[0]), row[1])
    
curr.close()

Enter Your File Here:
zqian@umich.edu 4
wagnermr@iupui.edu 1
stephen.marquard@uct.ac.za 2
rjlowe@iupui.edu 2
ray@media.berkeley.edu 1
louis@media.berkeley.edu 3
gsilver@umich.edu 3
gopal.ramasammycook@gmail.com 1
david.horwitz@uct.ac.za 4
cwen@iupui.edu 5